@include r(1023) {
  .banner {
    display: none !important;
  }
}

@include rm(1024) {
  .banner {
    position: fixed;
    bottom: 0;
    z-index: 30;
    width: 100%;
    padding: 10px 0;
    color: white;
    background-color: $main-green;

    .container {
      padding-top: 0;
      padding-bottom: 0;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__left {
      display: flex;
    }

    &__logo {
      padding: 0 5px;
      transform: rotate(-60deg);
    }

    &__text {
      margin-right: 15px;
      padding: 0 20px 0 0;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        top: 0;
        right: 0;
        background-color: #fff;
      }

    }

    .x_price_current {
      margin-right: 3px;
      font-size: 38px;
    }

    .x_currency {
      font-size: 23px;
    }

    &__order-now {
      margin-bottom: -20px;
      font-size: 28px;
      line-height: 1;
      font-weight: 700;
    }

    .timer {
      margin-right: 10px;

      br {
        display: none;
      }

      &__text {
        max-width: 110px;
        margin-right: 10px;
      }

      span {
        color: #ffffff;
      }
    }
  }
}

@include rm(1220) {
  .banner {
    &__logo {
      padding: 0 15px;
      margin-right: 0;
    }

    &__order-now {
      position: relative;
      padding: 0 50px 0 0;
    }

    &__text {
      margin-right: 0;
      padding-right: 50px;
    }

    .timer__text {
      max-width: 180px;
    }
  }
}
