.elimination {
  .list4__item::before {
    background-color: $main-orange;
  }

  .list4__item:hover {
    .list4__icon {
      box-shadow: inset 0 0 0 3px #fcfcfc, inset 0 0 0 6px rgba($color: $main-green, $alpha: 1.0);
    }
  }

  .list4__icon svg {
    width: 25px;
    height: 30px;
  }

  .list4__item:nth-child(3) svg {
    width: 20px;
  }
}
