.header {
    display: none;
}

@include rm(768) {
    .header{
        display: block;
        background-color: white;
        box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.2);

        .container {
            padding-top: 0;
            padding-bottom: 0;
        }

        &__wrapper {
            display: flex;
            align-items: center;
            padding: 18px 0;
        }

        &__logo {
            margin-right: auto;
            // display: none;
        }

        &__link {
            display: flex;
            // margin-right: 35px;
            &--wrapper {
                position: relative;
                padding: 5px 30px 5px 50px;

                &:first-child {
                    margin-right: 30px;
                }

                &::before {
                    position: absolute;
                    content: "";
                    width: 38px;
                    height: 36px;
                    left: 0;
                    top: 2px;
                }

                &:first-child::before {
                    background: url(../img/icon_components.png) no-repeat center center;
                }

                &:last-child::before {
                    background: url(../img/icon_reviews.png) no-repeat center center;
                }

                &::after {
                    position: absolute;
                    content: "";
                    height: 100%;
                    width: 1px;
                    right: 0;
                    top: 0;
                    background-color: #cecece;
                }

                a {
                    font-size: 16px;
                    line-height: 30px;
                    vertical-align: middle;
                    color: inherit;
                    border-bottom: 1px dotted #444444;
                    
                    &:hover {
                        border-bottom: 0;
                    }
                }
            }
        }

        &__button  {
            margin-left: auto;
        }
        .timer {
            display: none;
        }
    }
}


@include rm(1024) {
    .header {
        display: block;

        &__logo {
            display: flex;
            align-items: center;
        }

        &__logo,
        &__link {
            margin-right: 20px;
        }

        &__link--wrapper {
            padding: 5px 20px 5px 50px;
            &:first-child {
                margin-right: 10px;
            }
        }
        & .timer {
            display: flex;
            &__text {
                margin-right: 10px;
                br {
                    display: inline-block;
                }
            }
            &__time {
                min-width: 183;
                span {
                   padding: 3px 5px;
               }}
        }
    }
}


@include rm(1220) {
    .header {
        &__logo {
            margin-right: auto;
            &--logo {
                font-size: 24px;
                line-height: 1;
            }
        }

        &__link {
            margin-right: 40px;
            &--wrapper {
                padding: 5px 40px;
                &:first-child {
                    margin-right: 40px;
                }
            }
        }
        .timer {
            &__text {
                margin-right: 15px;
            }
            &__time .tm {
                padding: 3px 12px;
            }
        }
    }
}