.popup__content {
  padding: 10px;
  border-radius: 10px;

  @include rm(1001) {
    width: 790px;
    padding: 30px 50px 17px;
    display: flex;
    justify-content: space-between;
  }

  .product-wrap {
    width: 380px;
    position: absolute;
    left: 10px;
    bottom: 0;
  }

  .promo__form {
    @include rm(640) {
      margin-bottom: 20px;
    }
  }

  .form__content {
    margin-bottom: 10px;
    padding-top: 15px;
  }

  .form__subtitle {
    margin-bottom: 0;
  }

  .form__price {
    margin-bottom: 10px;
  }

  input {
    padding: 15px 23px 15px 52px;
  }

  .form__button {
    padding: 15px 30px;
  }

  .form__note {
    margin-bottom: 0;
  }
}

.no-webp .popup__content {
  background-color: #f6fdcb;

  @include rm(1001) {
    background-color: #f6fdcb;
    background-image: url(../img/background.png);
    background-position: -140px 100%;
    background-repeat: no-repeat;
    background-size: 1770px;
  }
}

.webp .popup__content {
  background-color: #f6fdcb;

  @include rm(1001) {
    background-color: #f6fdcb;
    background-image: url(../img/background.webp);
    background-position: -140px 100%;
    background-repeat: no-repeat;
    background-size: 1770px;
  }
}

.popup__left {
  display: none;

  @include rm(1001) {
    width: 100%;
    max-width: 350px;
    display: block;
    position: relative;
  }
}

.popup__right {
  width: 270px;
  flex-shrink: 0;
}

.popup__medal {
  top: -40px;
  right: 45px;
}

.popup__title {
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
}

.ever-popup__close {
  @include rm(1001) {
    right: -30px !important;
  }
}

.ever-popup__close:after,
.ever-popup__close:before {
  width: 27px !important;
  height: 2px !important;
  border-radius: 10px;
}
