.promo {
  @include rm(1024) {
    padding: 30px 0;
  }

  @include rm(1220) {
    padding: 70px 0 60px;
  }

  @include rm(1440) {
    max-height: 643px;
  }

  .x_order_form {
    margin-bottom: 15px;
  }
}

.promo__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include rm(640) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  @include rm(768) {
    justify-content: center;
  }

  @include rm(1024) {
    align-items: flex-start;
    justify-content: flex-end;
  }
}

.promo__product {
  width: 300px;
  margin-bottom: 20px;
  order: 1;

  @include rm(480) {
    width: 360px;
  }

  @include rm(640) {
    width: 335px;
    margin-bottom: 40px;
  }

  @include rm(768) {
    width: 360px;
    margin-right: 20px;
  }

  @include rm(1024) {
    width: 360px;
    margin: 0;
    position: absolute;
    top: -30px;
    left: 0;
    order: 0;
  }

  @include rm(1220) {
    width: 464px;
    top: -70px;
  }

  @include rm(1350) {
    left: -74px;
  }

  @include rm(1440) {
    left: -114px;
  }
}

.promo__description {
  @include rm(1024) {
    width: 300px;
    margin-right: 20px;
  }

  @include rm(1220) {
    width: 360px;
    margin-right: 40px;
  }

  @include rm(1350) {
    margin-right: 70px;
  }
}

.promo__form {
  margin-bottom: 20px;
  order: 2;

  @include rm(640) {
    margin-bottom: 0;
  }
}

.promo__toptitle {
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;

  @include rm(1024) {
    margin-bottom: 25px;
    padding-top: 20px;
    text-align: left;
  }

  @include rm(1220) {
    margin-bottom: 25px;
  }
}

.promo__title {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  font-style: italic;

  @include rm(640) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include rm(768) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include rm(1024) {
    margin-bottom: 30px;
    padding: 0 0 30px;
    text-align: left;
  }

  @include rm(1220) {
    margin-bottom: 33px;
    padding-bottom: 33px;
    font-size: 40px;
  }
}

.promo__subtitle {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;

  @include rm(1024) {
    text-align: left;
  }

  @include rm(1220) {
    margin-bottom: 45px;
  }
}

.form {
  width: 100%;
  max-width: 270px; // убрать
  text-align: center;
}

.form__content {
  margin-bottom: 13px;
  padding: 25px 22px 14px;
  border-radius: 10px;
  border: 2px solid rgba(251, 141, 0, 0.3);
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.form__title {
  margin-bottom: 10px;
  font-size: 30px;
}

.form__subtitle {
  margin-bottom: 10px;
  font-size: 18px;
}

.form__free {
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.price {
  margin-bottom: 26px;
  display: flex;
}

.form__price {
  margin-bottom: 15px;
  // display: none;
  flex-wrap: wrap;
  justify-content: space-around;
}

.price-old,
.price-new {
  // max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price__div {
  display: block;
  height: 50px;
  width: 1px;
  background-color: #d1d0d0;
}

// .price-old {
//   color: #666666;

//   .price__count {
//     padding-top: 7px;
//     font-size: 28px;
//     position: relative;
//   }

//   .x_price_previous {
//     margin-right: 2px;
//     letter-spacing: -1.4px;
//     position: relative;

//     &::before,
//     &::after {
//       content: "";
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       width: 100%;
//       height: 1px;
//       background-color: #f01d07;
//     }

//     &::before {
//       transform: translate(-50%, -50%) rotate(20deg);
//     }

//     &::after {
//       transform: translate(-50%, -50%) rotate(-20deg);
//     }

//   }

//   .x_currency {
//     font-size: 16px;
//   }
// }

.price-new {
  color: #30302f;

  .price__count {
    font-weight: 900;
    font-size: 45px;
  }

  .x_price_current {
    margin-right: 5px;
    letter-spacing: -1.4px;
  }

  .x_currency {
    font-size: 20px;
  }
}

.price__title {
  font-size: 14px;
  font-weight: 500;
}

.x_order_form input {
  width: 100%;
  padding: 22px 23px 22px 52px;
  border-radius: 100px;
  font-size: 14px;
  line-height: 1;
  border: 1px solid #dddddd;
  transition: all 0.3s;

  &:hover,
  &:focus {
    border: 1px solid rgba($color: $main-orange, $alpha: 0.3);
    box-shadow: inset 0 0 5px rgba($color: $main-orange, $alpha: 0.3);
  }
}

.input-wrap {
  margin-bottom: 11px;
}

.input-wrap--name,
.input-wrap--tel {
  position: relative;
}

.input-wrap--name::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.input-wrap--tel::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.input-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.form__button {
  margin-bottom: 15px;
  font-size: 20px;
}

.form__bottom {
  margin-top: 24px;
  font-size: 18px;

  .text-orange {
    display: block;
  }
}

.form__note {
  display: block;
  font-size: 15px;
  color: #777777;
  text-align: center;
}

.form__visitors {
  margin: 0 -22px;
  padding: 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
  position: relative;
  border-top: 1px solid #e8e8e8;
}

.icon-visitors {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  flex-shrink: 0;
}

.form__last {
  font-size: 18px;
}

.form__secure {
  margin-top: 15px;
  padding: 3px 5px 3px 40px;
  font-size: 15px;
  color: #222222;
}

.medal {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  right: 0;

  @include rm(768) {
    width: 90px;
    height: 90px;
  }
}

.promo__medal {
  @include rm(640) {
    top: -30px;
  }

  @include rm(1024) {
    top: 0px;
  }

  @include rm(1220) {
    top: -42px;
    right: 10px;
  }

  @include rm(1350) {}

  @include rm(1440) {
    width: 114px;
    height: 114px;
    top: -61px;
    right: 28px;
  }
}

.animation-medal {
  transition: .4s;
  border-radius: 50%;
  overflow: hidden;

  &::before {
    transform: rotate(-135deg);
    transition: .8s;
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
  }
}

.animation-pack:hover {
  .animation-medal:before {
    transition: .8s;
    top: 50%;
    left: 50%;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(35%, rgba(2, 0, 36, 0)), color-stop(50%, rgba(255, 255, 255, .9)), color-stop(65%, rgba(0, 212, 255, 0)));
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 0) 35%, rgba(255, 255, 255, .9) 50%, rgba(0, 212, 255, 0) 65%);
  }
}

.product__girl {
  display: none;

  * {
    user-select: none;
  }

  @include rm(1024) {
    display: block;
  }
}

.product-wrap {
  position: relative;

  @include rm(1024) {
    width: 330px;
    position: absolute;
    bottom: -195px;
  }

  @include rm(1220) {
    width: 350px;
    bottom: -100px;
    left: 135px;
  }

  @include rm(1350) {
    left: 155px;
  }

  @include rm(1440) {
    width: 433px;
    left: 145px;
    bottom: -150px;
  }
}

.promo-prod {
  &--mob {
    @include rm(640) {
      display: none;
    }

    @include rm(1024) {
      display: block;
      transform: rotate(31deg);
    }

    @include rm(1220) {
      display: none;
    }
  }

  &--desk {
    display: none;

    @include rm(640) {
      display: block;
    }

    @include rm(1024) {
      display: none;
    }

    @include rm(1220) {
      display: block;
    }
  }
}

.promo__quality {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 4;

  @include rm(640) {
    position: absolute;
    left: 20px;
    bottom: 0;
  }

  @include rm(768) {
    left: 70px;
  }

  @include rm(1024) {
    left: calc(50% - 95px);
    bottom: -94px;
  }

  @include rm(1220) {
    left: calc(50% - 60px);
    bottom: -110px;
  }

  @include rm(1350) {
    left: calc(50% - 78px);
  }
}

.quality {
  width: 90px;

  @include rm(1024) {
    width: 100px;
  }

  @include rm(1220) {
    width: auto;
  }
}

.promo__list {
  max-width: 235px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @include rm(640) {
    max-width: none;
    display: flex;
    justify-content: center;
  }

  @include rm(1024) {
    margin: 0;
    display: block;
  }
}

.promo__list-item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  font-size: 22px;
  font-weight: 600;

  &:not(:last-child) {
    margin-bottom: 25px;

    @include rm(640) {
      margin-right: 30px;
      margin-bottom: 0;
    }

    @include rm(1024) {
      margin: 0 0 20px;
    }

    @include rm(1220) {
      margin: 0 0 25px;
    }
  }
}


.promo__list-icon {
  width: 26px;
  height: 26px;
  margin-right: 10px;

  @include rm(1024) {
    margin-right: 30px;
  }
}

.twentytwenty-container img {
  position: absolute;
  top: 0;
}

.twentytwenty-right-arrow::before {
  // content: 'Как изменится ваша кожа после курса Papilloderm';
  color: #444;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  width: 200px;
  height: 42px;
  display: block;
  background-color: #fff;
  border-radius: 33px;
  padding: 7px 10px 0;
  text-align: center;
  z-index: 99;
  position: absolute;
  left: calc(50% - 16px);
  top: 55px;
  transform: translateX(-50%);
  text-shadow: 0 0 0 #000;
  opacity: 0;
  transition: .5s;
}

.twentytwenty-handle:hover .twentytwenty-right-arrow::before {
  opacity: 1;
}

.twentytwenty-container {
  overflow: visible;
}

.twentytwenty-horizontal .twentytwenty-handle:before {
  width: 1px;
  height: 160px;
  margin-left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);

  @include rm(1220) {
    height: 130px;
    bottom: 38px;
  }
}

.twentytwenty-horizontal .twentytwenty-handle:after {
  width: 1px;
  height: 230px;
  margin-left: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);


  @include rm(1220) {
    height: 330px;
    top: 38px;
  }
}

.twentytwenty-handle {
  margin-left: -18px;
  border: none;
  background-color: $main-red;
  box-shadow: 0px 0px 0 5px rgba(255, 255, 255, 0.3);

  @include rm(1220) {
    width: 57px;
    height: 57px;
    margin-left: -28px;
    top: 250px;
    box-shadow: 0px 0px 0 9px rgba(255, 255, 255, 0.3);
  }
}

.twentytwenty-left-arrow,
.twentytwenty-right-arrow {
  margin-top: -11px;
}

.twentytwenty-left-arrow {
  width: 9px;
  height: 23px;
  margin-left: -13px;
  border: none;
  background: url(../img/promo-arrow.svg) no-repeat;
  background-position: 50%;
  background-size: contain;
  transform: scale(-1);

  @include rm(1220) {
    width: 14px;
    height: 23px;
    margin-left: -18px;
  }
}

.twentytwenty-right-arrow {
  width: 9px;
  height: 23px;
  margin-right: -15px;
  border: none;
  background: url(../img/promo-arrow.svg) no-repeat;
  background-position: 50%;
  background-size: contain;

  @include rm(1220) {
    width: 14px;
    height: 23px;
    margin-right: -18px;
  }
}
