.reviews {

  &__title {
    margin-bottom: 20px;
  }

  &__slider {
    margin-bottom: 30px;
  }

  &__el {
    // min-height: 456px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 8px;
    background-color: white;
    margin: 2px 10px;
    padding: 15px;
    border-top: 5px solid blue;
    position: relative;
    display: flex !important;
    align-items: flex-start;
    flex-wrap: wrap;

    &--ava {
      margin-right: 10px;
    }

    &--top {
      max-width: calc(100% - 80px);
      width: 100%;
      padding-top: 30px;
      text-align: center;
      font-weight: bold;
      padding-left: 15px;
      padding-right: 15px;
    }

    &--name {
      font-size: 19px;
    }

    &--descr {
      font-size: 15px;
    }

    &--line {
      width: 100%;
      position: relative;
      height: 1px;
      background-color: grey;
      margin-left: auto;
      margin-top: 20px;
      margin-bottom: 20px;

      &::before {
        content: '';
        position: absolute;
        left: calc(50% - 15px);
        top: 0;
        background-color: red;
        width: 30px;
        height: 5px;

      }
    }

    &--text {
      line-height: 1.2;
    }
  }

  &__stars {
    display: flex;
    position: absolute;
    top: 15px;
    right: calc(50% - 85px);
    width: 90px;
    height: 15px;


    &--full {
      background-image: url(../img/icon_full_star.png), url(../img/icon_full_star.png);
    }

    &--empty {
      background-image: url(../img/icon_half_star.png), url(../img/icon_full_star.png);
    }

    background-position: right center,
    left center;
    background-repeat: no-repeat,
    repeat;
    background-size: 18px 15px,
    18px 15px;
  }
}

.slick-next,
.slick-prev {
  width: 46px;
  height: 46px;
  background-color: blue;
  border-radius: 50%;
  border: 5px solid #CAD7E7;
  transition: 0.4s;
  z-index: 5;
}

.slick-next,
.slick-next:hover,
.slick-next:focus {
  background-image: url(../img/arrow-r.png);
  background-repeat: no-repeat;
  background-position: 9px center;
}

.slick-prev,
.slick-prev:hover,
.slick-prev:focus {
  background-image: url(../img/arrow-l.png);
  background-repeat: no-repeat;
  background-position: 6px center;
}

.slick-next:hover,
.slick-prev:hover,
.slick-next:focus,
.slick-prev:focus {
  background-color: green;
  border: 5px solid #C9E2C8;
  transition: 0.4s;
}

.slick-next:before,
.slick-prev:before {
  content: none;
}

.slick-prev {
  left: -5px !important;
  top: 130px !important;
  // bottom: -85px !important;
}

.slick-next {
  right: -5px !important;
  top: 130px !important;
  // bottom: -85px !important;
}

@include rm(480) {
  .slick-prev,
  .slick-next {
    top: 111px !important;
  }
}

@include rm(768) {
  .reviews__el--line {
    width: calc(100% - 30px);
    &::before {
      left: -30px;
    }
  }
  .slick-prev {
    left: -50px !important;
    top: 50% !important;
  }

  .slick-next {
    right: -50px !important;
    top: 50% !important;
  }

  .reviews .container {
    padding-left: 60px;
    padding-right: 60px;
  }

  .reviews__slider {
    margin-bottom: 40px;
  }
}

@include rm(1290) {
  .reviews .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@include rm(480) {
  .reviews__el--text {
    line-height: 1.4;
  }
}


@include rm(640) {
  .reviews {

    &__title {
      margin-bottom: 25px;
    }
  }

  @include rm(768) {
    .reviews {
      &__title {
        margin-bottom: 30px;
      }

      &__el {
        padding: 18px;

        &--top {
          text-align: left;
          padding-top: 0;
          padding-left: 0;
          padding-right: 0;
        }

        &--text {
          min-height: 325px;
        }

        &--descr {
          min-height: 60px;
        }

        &--name {
          margin-bottom: 7px;
          font-size: 20px;
        }
      }

      &__stars {
        top: 21px;
        right: 18px;
      }

    }
  }


  @include rm(1024) {
    .reviews {


      &__title {
        margin-bottom: 40px;
      }

      &__el {
        &--text {
          min-height: 200px;
        }
      }


    }
  }


}


@include rm(1220) {
  .reviews {

    .container {
      padding-top: 60px;
    }

    &__el {
      margin: 2px 15px;
      padding: 27px;

      &--name {
        font-size: 22px;
      }

      &--descr {
        font-size: 17px;
      }

      &--ava {
        margin-right: 22px;
      }

      &--top {
        max-width: calc(100% - 93px);
      }

      &--text {
        font-size: 16px;
        line-height: 25px;
        min-height: 250px;
      }
    }

    &__stars {
      top: 29px;
      right: 27px;
    }
  }
}

.reviews__btn {
  max-width: 280px;
  margin: auto;
  padding: 10px ;
  font-size: 22px;
  font-weight: 900;
}

.feedback {
  border-radius: 5px;
  border: 1px solid grey;
  padding: 20px;
  display: none;
  background-color: white;
  z-index: 5;
  position: relative;
}

@media screen and (min-width: 1220px) {
  .feedback {
    padding: 40px 50px;
  }
}

.feedback__form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feedback__form__field {
  width: 100%;
  color: #666;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 50px;
  background-color: #F8F8F8;
  border: 1px solid grey;
  padding: 20px 35px;
}

.feedback__form__field-wrap {
  position: relative;
  margin-bottom: 20px;
  padding: 1px;

  &::before {
    content: '';
    position: absolute;
    top: 48%;
    left: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }
}

.feedback__form__field-wrap--name {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .feedback__form__field-wrap--name {
    margin-right: 25px;
    width: 30%;
  }
}

.feedback__form__field-wrap--message {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .feedback__form__field-wrap {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .feedback__form__intrenal-col {
    margin-bottom: 20px;
  }
}

.feedback__form__textarea {
  resize: none;
  overflow: hidden;
  min-height: 100px;
  height: 100%;
  border-radius: 10px;
}

.feedback__form__file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.feedback__form__file-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: #F8F8F8;
  background-image: url(../img/file-icon.png);
  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: center;
}

.feedback__form__file-text {
  color: #666;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
  margin-left: 15px;
}



.feedback__form__error {
  font-size: 12px;
  color: red;
  position: absolute;
  bottom: -15px;
  left: 0;
  display: none;
}

.feedback__form__checkmark-icon {
  display: none;
}

.feedback__form__file.rloaded .feedback__form__file-img {
  background-image: none
}

.reviews-popup {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  display: none;
}

.reviews-popup__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 3px solid blue;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.reviews-popup__text {
  font-size: 25px;
  font-weight: 700;
}

.reviews-popup__big {
  display: inline-block;
  font-size: 30px;
  margin-bottom: 10px;
}

@include rm(480) {
  .reviews-popup__inner {
    width: 400px;
  }
}

.reviews .feedback__rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-left: auto;
  width: 100%;
  margin-bottom: 20px;
}

.feedback__rating-text {
  color: #666;
  font-size: 15px;
  line-height: 17px;
  margin-right: 10px;
  margin-left: auto;
  white-space: nowrap;
}

.reviews__help {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

@include rm(1024) {
  .feedback__rating-text {
    font-size: 16px;
    line-height: 18px;
    margin-right: 25px;
  }

  .reviews__help {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
  }

  .reviews .feedback__rating {
    margin-left: 0;
    margin-right: auto;
    width: 34%;
  }
}

.reviews .feedback__star:nth-child(2n-2) {
  margin: 0 3px;
}

.reviews .feedback__star {
  width: 27px;
  height: 23px;
  cursor: pointer;
}

.reviews .feedback__star::before {
  content: '';
  display: block;
  background: url(../img/icon_empty_star.png) no-repeat center;
  background-size: contain;
  width: 27px;
  height: 23px;
}

.reviews .feedback__star.hover::before,
.reviews .feedback__star.selected::before {
  background: url(../img/icon_full_star.png) no-repeat center;
  background-size: cover;
  width: 27px;
  height: 23px
}

.feedback__form__field-wrap--message.invalid .feedback__form__error,
.feedback__form__field-wrap--name.invalid .feedback__form__error {
  display: block;
}

.reviews .valid {
  border: 1px solid green;
}

.reviews .invalid {
  border: 1px solid red;
}

.feedback__form__field-wrap--name.valid,
.feedback__form__field-wrap--name.invalid {
  border-radius: 50px;
}

.feedback__form__field-wrap--message.valid,
.feedback__form__field-wrap--message.invalid {
  border-radius: 10px;
}

@include r(1023) {
  .feedback__form__intrenal-col {
    order: 1;
  }

  .feedback__form__input-text {
    order: 2;
  }

  .feedback__form__input-text {
    order: 3;
  }

  .feedback__rating {
    order: 4;
  }

}
