.timer {
    display: flex;
    align-items: center;

    &__text {
        margin-right: 15px;
        font-size: 14px;
        line-height: 18px;
    }

    &__time {
        & span {
            display: inline-block;
            padding: 5px 7px;

            font-size: 22px;
            color: grey;
            line-height: 30px;

            &:nth-child(1),
            &:nth-child(4),
            &:nth-child(7) {
                margin-right: 5px;
            }
        }

        & .tm {
            position: relative;
            font-weight: 700;
            color: white;
            background:$main-orange;
            border-radius: 4px;
        }
    }
}