.banner
  .container
    .banner__wrapper
      .banner__left
        .banner__logo
          picture
            source(media="(max-width: 1023px)", srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
            source(srcset="img/prod180.webp", type="image/webp")
            img.banner__logo--img(src="img/prod180.png", alt="Papilloderm" width="48")
        .banner__text
          h3.banner__order-now Внимание! 
          p.banner__subtitle Только сегодня 
            span.date-0.text-bold(data-format="dd monthFull")
            | , цена: 
            span.x_price_current.text-bold 196
            span.x_currency грн.
      include timer
      button.banner__button.btn__small.btn.ever-popup-btn Оформить заказ