.better.bg-grey.block
  .container
    h2.better__title.title Чем 
      span.text-accent Papilloderm
      |  лучше других методов
    .better__content
      ul.better__list
        li.recipe__item.inuse
          .inuse__bullet
            svg
              use(xlink:href="#better_01")
          .inuse__box
            p.inuse__text 
              span.text-bold Специалисты рекомендуют
              |  его для удаления образований на коже в домашних условиях
        li.recipe__item.inuse
          .inuse__bullet
            svg
              use(xlink:href="#better_02")
          .inuse__box
            p.inuse__text 
              span.text-bold Не вызывает побочных эффектов,
              |   в отличие от лазерных процедур, которые оставляют следы, шрамы и припухлость
        li.recipe__item.inuse
          .inuse__bullet
            svg
              use(xlink:href="#better_03")
          .inuse__box
            p.inuse__text 
              span.text-bold Предупреждает рецидивы&nbsp;—
              |   не позволяет кожным образованиям появиться повторно
        li.recipe__item.inuse
          .inuse__bullet
            svg
              use(xlink:href="#better_04")
          .inuse__box
            p.inuse__text 
              span.text-bold Предупреждает рак&nbsp;—
              |    не дает папилломам переродиться в злокачественные образования
      .animation-pack.better__prod.recipe__prod
        picture
          source(srcset="img/prod180.webp" type="image/webp")
          img(src="img/prod180.png" alt="prod")
        .medal.better__medal.animation-medal
          picture
            source(srcset="img/icon-choice.webp" type="image/webp")
            img(src="img/icon-choice.png" alt="prod")
    include action