.danger.bg-grey.block
  .container
    .danger__content
      h2.danger__title.title Чем опасны папилломы
      .danger__top
        p.danger__define
          span.text-bold Папилломы 
          | — следствие активности вируса папилломы человека (ВПЧ). ВПЧ&nbsp;передается половым путем и&nbsp;через предметы личной гигиены.
          br
          | Папилломавирус может долгое время оставаться в&nbsp;стадии спячки, но когда "просыпается" начинает распространяться по&nbsp;организму, провоцируя избыточное деление клеток&nbsp;кожи.
        .danger__img
          span.danger__note Папилома
          picture
            source(media="(max-width: 479px)" srcset="img/papill-img_479.webp" type="image/webp")
            source(media="(max-width: 479px)" srcset="img/papill-img_479.png")
            source(srcset="img/papill-img.webp" type="image/webp")
            img(src="img/papill-img.png" alt="prod")
        .promoting
          h3.promoting__title.text-bold Активации вируса&nbsp;способствует: 
          ul.promoting__list
            li.promoting__item
              svg.promoting__list-icon
                use(xlink:href="#bullet")
              p Слабый иммунитет
            li.promoting__item
              svg.promoting__list-icon
                use(xlink:href="#bullet")
              p Стресс
            li.promoting__item
              svg.promoting__list-icon
                use(xlink:href="#bullet")
              p Авитаминоз
            li.promoting__item
              svg.promoting__list-icon
                use(xlink:href="#bullet")
              p Травмы кожи
      .danger__bottom.quote
        p.quote__text Появление папиллом — 
          span.text-red.text-bold тревожный сигнал
          |. Часто этот вирус приводит к раку шейки матки, вульвы, влагалища, полового члена, анального отверстия, прямой кишки, полости рта и&nbsp;гортани.
        .quote__doc.doc
          .doc__box
            picture
              source(srcset="img/doc-ava.webp" type="image/webp")
              img.doc__ava(src="img/doc-ava.jpg" alt="prod")
            .doc__fio
              p.doc__name.text-bold Людмила&nbsp;Мазур
              span.doc__pos Онколог
          picture
            source(srcset="img/doc-sign.webp" type="image/webp")
            img.doc__sign(src="img/doc-sign.png" alt="prod")
          picture
            source(srcset="img/doc-stamp.webp" type="image/webp")
            img.doc__stamp(src="img/doc-stamp.png" alt="prod")
