.efficiency.bg.block
  .container
    h2.efficiency__title.title Эффективность   
      span.text-accent Papilloderm
      |  подтверждена клиническими исследованиями,
    h3.efficiency__subtitle которые проводились ФГБУ “ГНЦ Институт иммунологии” ФМБА России на 
      span.text-accent.text-nowrap 567 добровольцах
      |  с&nbsp;вирусом ВПЧ и&nbsp;другими кожными инфекциями
    ul.efficiency__list
      li.efficiency__item.box-shadow
        strong.efficiency__num.text-bold 9 
          span из 
          | 10
        p.efficiency__text.text-bold человек бесследно избавились от образований на коже за&nbsp;1&nbsp;курс
      li.efficiency__item.box-shadow
        strong.efficiency__num.text-bold 100% 
        p.efficiency__text.text-bold предотвратили злокачественные образования
      li.efficiency__item.box-shadow
        strong.efficiency__num.text-bold 96% 
        p.efficiency__text.text-bold избежали повторного заражения
          br
          |  в&nbsp;течение 2&nbsp;лет
      li.efficiency__item.box-shadow.sert
        p.sert__title.text-bold.efficiency__text Эффективность подтверждена сертификатами:
        ul.sert__list
          li.sert__item
            picture
              source(srcset="img/sert1.webp" type="image/webp")
              img(src="img/sert1.png" alt="prod")
          li.sert__item
            picture
              source(srcset="img/sert2.webp" type="image/webp")
              img(src="img/sert2.png" alt="prod")
          li.sert__item
            picture
              source(srcset="img/sert3.webp" type="image/webp")
              img(src="img/sert3.png" alt="prod")
          li.sert__item
            picture
              source(srcset="img/sert4.webp" type="image/webp")
              img(src="img/sert4.png" alt="prod")
