.types.elimination.bg.block
  .container
    .types__content
      h2.types__title.title 
        span.text-accent Papilloderm
        |  устраняет образования на коже и&nbsp;предотвращает повторное появление за 1&nbsp;курс
      ul.list4
        li.list4__item
          .list4__img
            .list4__icon
              svg
                use(xlink:href="#clean_hand")
            picture
              source(srcset="img/elimination1.webp" type="image/webp")
              img(src="img/elimination1.png" alt="prod")
          h3.list4__title.text-bold Чистая кожа ладоней и&nbsp;пальцев на&nbsp;руках
        li.list4__item
          .list4__img
            .list4__icon
              svg
                use(xlink:href="#clean_leg")
            picture
              source(srcset="img/elimination2.webp" type="image/webp")
              img(src="img/elimination2.png" alt="prod")
          h3.list4__title.text-bold Бородавки и мозоли на ногах исчезнут без&nbsp;следа
        li.list4__item
          .list4__img
            .list4__icon
              svg
                use(xlink:href="#clean_face")
            picture
              source(srcset="img/elimination3.webp" type="image/webp")
              img(src="img/elimination3.png" alt="prod")
          h3.list4__title.text-bold Красивое лицо и&nbsp;шея без&nbsp;папиллом
        li.list4__item
          .list4__img
            .list4__icon
              svg
                use(xlink:href="#clean_body")
            picture
              source(srcset="img/elimination4.webp" type="image/webp")
              img(src="img/elimination4.png" alt="prod")
          h3.list4__title.text-bold Чистое тело без новообразований
