.expert.bg.block
  .container
    h2.expert__title.title Мнение специалиста
    .expert__content.box-shadow
      p.expert__text ВПЧ — вирус, который провоцирует развитие папиллом		и многих других образований на коже, является одним из самых распространенных в мире. 
        span.text-bold 90% людей
        |  сталкиваются  с ним в течение жизни. 
      p.expert__text К сожалению, многие не придают папилломам особого значения, считая их эстетическим дефектом. В то время, как они в любой момент 
        span.text-bold могут перерасти в злокачественную опухоль. 
      p.expert__text Многих моих пациентов пугает дороговизна, болезненность и побочные эффекты современных методов удаления новообразований. Поэтому я все чаще рекомендую 	
        span.text-bold Papilloderm. 
      p.expert__text Это средство можно применять в домашних условиях, оно не вызывает боли, побочных эффектов и стоит в несколько раз дешевле. К тому же, благодаря натуральному составу оно является полностью безопасным для здоровья.
      .quote__doc.doc
        .doc__box
          p.doc__name.text-bold Людмила&nbsp;Мазур
          span.doc__pos врач-онколог, 
            br
            | дерматолог, д.м.н.
        picture
          source(srcset="img/doc-sign.webp" type="image/webp")
          img.doc__sign(src="img/doc-sign.png" alt="prod")
        picture
          source(srcset="img/doc-stamp.webp" type="image/webp")
          img.doc__stamp(src="img/doc-stamp.png" alt="prod")
    picture
      source(srcset="img/expert.webp" type="image/webp")
      img.expert__foto(src="img/expert.png" alt="prod")
