.fake
  h2.title.fake__title.title--big.text-black Внимание! 
    span.text-red Остерегайтесь подделок!
  .fake__row
    .fake__content
      p.fake__text С ростом популярности Papilloderm на рынке СНГ, участились случаи подделок. Наш&nbsp;же продукт продается в оригинальной упаковке с уникальным регистрационным кодом! Найдите код на упаковке и проверьте подлинность Papilloderm. 
      .fake__send.bg-main.text-medium
        p Отправьте DAT-код по СМС на номер 3888, в ответ получите информацию о&nbsp;подлинности товара.
      .fake__check
        p.fake__sms Проверьте, не отключена ли услуга отправки СМС на короткий номер.   
          br
          | Бесплатные СМС на номер 3888 доступны на территории РФ, Армении и&nbsp;Беларуси.
        p.fake__first-check.text-bold
          span.text-underline Только первая проверка
          |  подтверждает подлинность. Только для товаров, защищенных Системой DAT.
    .fake__product
      picture
        source(srcset="img/prod90.webp", type="image/webp")
        img.fake__img(src="img/prod90.png", alt="")
      picture
        source(srcset="img/fake-circle.webp", type="image/webp")
        img.fake__circle(src="img/fake-circle.png", alt="")
