section.header
  .container
    h1.visually-hidden Papilloderm
    .header__wrapper
      .header__logo
        img.header__img(src="img/header_logo.png", alt="Friocard" width="139" height="32")
        //- p.header__logo--logo Friocard
      .header__link
        span.header__link--wrapper
          a.header__link--reviwes(href="#reviews") Отзывы
        span.header__link--wrapper
          a.header__link--components(href="#components") Состав
      include timer
      button.header__button.btn__small.ever-popup-btn Оформить заказ