.listdoctor.block.bg
  .container
    .listdoctor__wrapper
      picture
        source(media="(max-width: 767px)", srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
        source(srcset="img/expert.webp", type="image/webp")
        img.listdoctor__doctor(loading="lazy" src="img/expert.png" alt="doctor")
      .listdoctor__wrapper--left
        ul.listdoctor__list
          li.listdoctor__item
            svg.listdoctor__item-icon
              use(xlink:href="#bullet")
            span.text-bold Для ускорения эффекта Papilloderm 
            |  заклейте пораженный участок бактерицидным пластырем после нанесения
          li.listdoctor__item
            svg.listdoctor__item-icon
              use(xlink:href="#bullet")
            span.text-bold Для максимального эффекта Papilloderm  
            |  дождитесь полного впитывания средства, старайтесь избегать контакта с водой
          li.listdoctor__item
            svg.listdoctor__item-icon
              use(xlink:href="#bullet")
            span.text-bold Для предупреждения ВПЧ  
            |  старайтесь укреплять иммунитет, питайтесь правильно, занимайтесь спортом
        .listdoctor__sign
          .listdoctor__sign--text
            p.listdoctor__name.text-bold Людмила Мазур,
            p.listdoctor__specialty врач-онколог,
              br
              | дерматолог, д.м.н.
          .listdoctor__sign--img.doc__sign
            picture
              source(type="image/webp", srcset="img/doc-sign.webp")
              img.listdoctor__img(loading="lazy", src="img/doc-sign.png", alt="doctor-sign")
          .listdoctor__sign--img
            picture
              source(type="image/webp", srcset="img/doc-stamp.webp")
              img.listdoctor__img(loading="lazy", src="img/doc-stamp.png", alt="doctor-sign")