.order.block.bg-grey
  .container
    h2.order__title.title Как заказать 
      span.text-accent Papilloderm
    ul.order__list
      li.order__item
        picture
          source(srcset="img/order1.webp" type="image/webp")
          img.order__img(src="img/order1.png" alt="prod")
        .order__desc.box-shadow
          h3.order__item-title.text-bold Заполните форму заказа
          p.order__text Укажите имя и&nbsp;номер телефона
      li.order__item
        picture
          source(srcset="img/order2.webp" type="image/webp")
          img.order__img(src="img/order2.png" alt="prod")
        .order__desc.box-shadow
          h3.order__item-title.text-bold Примите звонок оператора 
          p.order__text Специалист проконсультирует и уточнит адресные данные
      li.order__item
        picture
          source(srcset="img/order3.webp" type="image/webp")
          img.order__img(src="img/order3.png" alt="prod")
        .order__desc.box-shadow
          h3.order__item-title.text-bold Оплатите после получения
          p.order__text Предоплата не требуется
      li.order__item
        picture
          source(srcset="img/order4.webp" type="image/webp")
          img.order__img(src="img/order4.png" alt="prod")
        .order__desc.box-shadow
          h3.order__item-title.text-bold Избавьтесь от папиллом
          p.order__text Наслаждайтесь полноценной жизнью
    include fake