.section.promo.bg.block
  .container
    .promo__content
      .promo__product
        .product__girl
          .twentytwenty-wrapper.twentytwenty-horizontal
            .changes__img.twentytwenty-container
              .changes__before
                picture
                  source(srcset="img/girl-left.webp" type="image/webp")
                  img(src="img/girl-left.png" alt="prod")
              .changes__after
                picture
                  source(srcset="img/girl-right.webp" type="image/webp")
                  img(src="img/girl-right.png" alt="prod")
        .product-wrap.animation-pack
          picture
            source(srcset="img/prod180.webp" type="image/webp")
            img.promo-prod--mob(src="img/prod180.png" alt="prod")
          picture
            source(srcset="img/prod90.webp" type="image/webp")
            img.promo-prod--desk(src="img/prod90.png" alt="prod")
          .medal.promo__medal.animation-medal
            picture
              source(srcset="img/icon-choice.webp" type="image/webp")
              img(src="img/icon-choice.png" alt="prod")
      ul.promo__quality
        li.promo__quality-item
          picture
            source(srcset="img/icon-promo1.webp" type="image/webp")
            img.quality(src="img/icon-promo1.png" alt="prod")
        li.promo__quality-item
          picture
            source(srcset="img/icon-promo2.webp" type="image/webp")
            img.quality(src="img/icon-promo2.png" alt="prod")
        li.promo__quality-item
          picture
            source(srcset="img/icon-promo3.webp" type="image/webp")
            img.quality(src="img/icon-promo3.png" alt="prod")
      .promo__description
        h2.promo__toptitle На коже появились папилломы?
        h2.promo__title.title Избавьтесь от них, пока они не&nbsp;убили вас!
        h2.promo__subtitle Papilloderm устранит папилломы и&nbsp;другие кожные&nbsp;образования: 
        ul.promo__list
          li.promo__list-item
            svg.promo__list-icon
              use(xlink:href="#bullet")
            p Бесследно
          li.promo__list-item
            svg.promo__list-icon
              use(xlink:href="#bullet")
            p Быстро и без&nbsp;боли
          li.promo__list-item
            svg.promo__list-icon
              use(xlink:href="#bullet")
            p За&nbsp;1&nbsp;курс
      .form.promo__form
        .form__content
          .form__top
            p.form__title.text-bold Внимание!
            p.form__subtitle Только сегодня 
              br
              |
              span.nowrap.date-0.text-accent(data-format="dd monthFull")
              //- | , цена
            .form__price.price
              //- .price-old
              //-   span.price__title Старая цена
              //-   .price__count                                
              //-     span.x_price_previous 10890
              //-     span.x_currency грн.
              //- span.price__div
              .price-new
                //- span.price__title Новая цена
                .price__count
                  span.x_price_current 196
                  span.x_currency грн.
                  | *
          form.x_order_form(action="/submit" method="post")
            .input-wrap.input-wrap--name
              svg.input-icon.input-icon--user
                use(xlink:href="#icon_user")
              input.form__input(type="text" name="name" placeholder="Мое имя" required)
            .input-wrap.input-wrap--tel
              svg.input-icon.input-icon--tel
                use(xlink:href="#icon_phone")
              input.form__input(type="tel" name="phone" placeholder="Мой телефон" required)
            button.form__button.btn Оформить заказ
            span.form__note *при оформлении заказа
          .form__visitors
            svg.icon-visitors
              use(xlink:href="#icon_eye")
            p Сейчас на сайте 
              span.text-red.text-bold 20
              |  человек
        p.form__last Осталось 
          span.lastpack.text-red.text-bold 80
          |  упаковок