.recipe.bg-grey.block#components
  .container
    h2.recipe__title.title Залог успеха 
      span.text-accent Papilloderm
      |  — натуральный состав
    .recipe__content
      ul.recipe__list
        li.recipe__item.inuse
          .inuse__bullet
            picture
              source(srcset="img/recipe1.webp" type="image/webp")
              img(src="img/recipe1.png" alt="prod")
          .inuse__box
            h4.inuse__title.text-bold Масло чайного&nbsp;дерева
            p.inuse__text Борется с инфекциями и&nbsp;грибками, снимает болевые ощущения и способствует заживлению
        li.recipe__item.inuse
          .inuse__bullet
            picture
              source(srcset="img/recipe2.webp" type="image/webp")
              img(src="img/recipe2.png" alt="prod")
          .inuse__box
            h4.inuse__title.text-bold Экстракт черного&nbsp;ореха
            p.inuse__text Помогает избавиться от грибковых и&nbsp;вирусных инфекций. Препятствует возникновению рецидивов
        li.recipe__item.inuse
          .inuse__bullet
            picture
              source(srcset="img/recipe3.webp" type="image/webp")
              img(src="img/recipe3.png" alt="prod")
          .inuse__box
            h4.inuse__title.text-bold Экстракт болиголова
            p.inuse__text Укрепляет защитные силы организма, замедляет процесс деления клеток. Помогает предотвратить&nbsp;рак
      .animation-pack.recipe__prod
        picture
          source(srcset="img/prod180.webp" type="image/webp")
          img(src="img/prod180.png" alt="prod")
        .medal.recipe__medal.animation-medal
          picture
            source(srcset="img/icon-choice.webp" type="image/webp")
            img(src="img/icon-choice.png" alt="prod")
