mixin review(slide)
  .reviews-box
    .reviews-top
      picture
        source(srcset="img/"+slide.webp, type="image/webp")
        img.reviews-box__img(src="img/"+slide.img, alt="Avatar")
      .reviews-top__text
        .reviews-box__name!= slide.name 
        .reviews-box__city!= slide.age
    .reviews-text-body
      p.reviews-text__item!= slide.text
      .shadow
    .reviews-text__btn

-
  const reviewArray = [
    {
      webp: 'review_01.webp',
      img: 'review_01.png',
      name: 'Анна М. ',
      age: '34 года',
      text: 'Средство реально рабочее, проверено на себе. Для того, чтобы убрать большие папилломы, понадобилось несколько месяцев, но они ушли полностью, сейчас на тех местах еле заметные пигментные пятнышки без всяких шрамчиков, гладкая кожа. Конечно немного печет после нанесения, но вполне себе терпимо, по крайней мере мне. Папилломы были в области подмышек.'
    },
    {
      webp: 'review_02.webp',
      img: 'review_02.png',
      name: 'Галина Л.',
      age: '52 года',
      text: 'Действенное средство, удалила им папиллому на веке под бровью, небольшую. <br> Мазала по инструкции, она полностью отпала и следа нет. Врачи рекомендовали удалять лазером в офтальмологии за бешеные деньги по сравнению с ценой на данное средство.'
    },
    {
      webp: 'review_03.webp',
      img: 'review_03.png',
      name: 'Светлана В.',
      age: '44 года',
      text: 'Папиллодерм — классное средство, удаляла две шипицы на руке, мазала на ночь, прошло где-то около двух недель, одна отпала и вторая на подходе.'
    },
    {
      webp: 'review_04.webp',
      img: 'review_04.png',
      name: 'Алексей П.',
      age: '38 лет',
      text: 'Отличное средство. Рекомендую. Папиломы отпадают сами, у меня через неделю использования.'
    },
    {
      webp: 'review_05.webp',
      img: 'review_05.png',
      name: 'Владимир А.',
      age: '43 года',
      text: 'Мне понравился Папилодерм. Все папиломы отпали за две недели. Главное придерживаться инструкции и всё будет ОК. Рекомендую!'
    },
    {
      webp: 'review_06.webp',
      img: 'review_06.png',
      name: 'Мария',
      age: '49 лет',
      text: 'Взяла по совету, но слабо верилось, что поможет. Но нет! За неделю прошла довольно большая папиллома. Пользовалась больше недели, после этого папиллома почернела и со временем отпала. Баночка маленькая, но хватит думаю надолго.'
    },
    {
      webp: 'review_07.webp',
      img: 'review_07.png',
      name: 'Лариса',
      age: '37 лет',
      text: 'Отличное средство, на 100% эффективное. В течение 5-7 дней есть результат. На месте отпавшей папилломы остается маленькое пятнышко, которое смазываю на ночь облепиховым маслом. Ранее удаляла лазером, но от него очень долго остается ранка.'
    },
    {
      webp: 'review_08.webp',
      img: 'review_08.png',
      name: 'Елена С.',
      age: '45 лет',
      text: 'Очень рада, что нашла по отзывам Papilloderm. Избавилась от большой подошвенной бородавки. Наносила каждый день на ночь. Сначала она побелела, затем — пошли темные пятнышки и появились болевые ощущения, после этого — бородавка стала черная и отмерла. Супер средство. Сэкономила время и деньги на недешевое удаление.'
    },
    {
      webp: 'review_09.webp',
      img: 'review_09.png',
      name: 'Вероника Л.',
      age: '47 лет',
      text: 'Суперское средство. Сколько до этого потратили денег на врача и никакой пользы. Заказала Papilloderm и лечила бородавки, все отлично сошло. Спасибо за быструю доставку!'
    },
  ]


section.block.reviews(id='reviews').bg-grey
    .container
      h2.title.reviews__title Что говорят покупатели о 
        span.text-accent Papilloderm 
      .reviews-content
          each slide in reviewArray
            +review(slide)

      button.btn.reviews__btn.active-feed Оставить свой отзыв
      form.think(action="#" method="POST")
        .think__box.think__name
          input.think__input.name__input(type="text" placeholder="Мое имя" required)
        .think__box.think__age
          input.think__input.age__input(type="text" placeholder="Мой возраст" required)
        //- .think__box.think__city
        //-   input.think__input.city__input(type="text" placeholder="Город" required)
        .think__box.think__photo
          label.reviews-form__file(for="file")
            span.reviews-form__file-img
              span.reviews-form__checkmark-icon
                svg(height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg")
                  path(d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z" fill="#0f0")
            span.reviews-form__file-text Загрузить ваше&nbsp;фото
          input.visually-hidden.input-file.reviews-input(accept="image/*" id="file" type="file")
        .think__text
          textarea.inputText(name="message" placeholder="Ваше сообщение" required)
        button.btn.think__btn Отправить
      .feedback-modal
        .feedback-modal__inner
          .feedback-modal__title Спасибо!
          .feedback-modal__text Ваш отзыв отправлен на модерацию