.timer
  p.timer__text До конца акции <br> осталось:
  .timer__time
    span.hours.tm 0
    span.hours.tm 0
    span :
    span.minutes.tm 0
    span.minutes.tm 0
    span :
    span.seconds.tm 0
    span.seconds.tm 0
