.types.bg.block
  .container
    .types__content
      h2.types__title.title Виды папиллом и&nbsp;места их&nbsp;появления
      ul.list4
        li.list4__item
          .list4__img
            .list4__icon
              svg
                use(xlink:href="#lightning")
            picture
              source(srcset="img/types1.webp" type="image/webp")
              img(src="img/types1.png" alt="prod")
          h3.list4__title.text-bold Вульгарные
          p.list4__text Спина, ладони, подошвы ног
        li.list4__item
          .list4__img
            .list4__icon
              svg
                use(xlink:href="#lightning")
            picture
              source(srcset="img/types2.webp" type="image/webp")
              img(src="img/types2.png" alt="prod")
          h3.list4__title.text-bold Остроконечные
          p.list4__text Паховая область
        li.list4__item
          .list4__img
            .list4__icon
              svg
                use(xlink:href="#lightning")
            picture
              source(srcset="img/types3.webp" type="image/webp")
              img(src="img/types3.png" alt="prod")
          h3.list4__title.text-bold Нитевидные
          p.list4__text Веки, шея, подмышки, пах
        li.list4__item
          .list4__img
            .list4__icon
              svg
                use(xlink:href="#lightning")
            picture
              source(srcset="img/types4.webp" type="image/webp")
              img(src="img/types4.png" alt="prod")
          h3.list4__title.text-bold Плоские
          p.list4__text Лицо, руки, половые губы, мошонка