.use.better
  h2.title.use__title Как применять 
    span.text-accent Papilloderm
  .use__content
    .animation-pack.better__prod.recipe__prod.use__prod
      picture
        source(srcset="img/prod90.webp" type="image/webp")
        img(src="img/prod90.png" alt="prod")
      .medal.use__medal.animation-medal
        picture
          source(srcset="img/icon-choice.webp" type="image/webp")
          img(src="img/icon-choice.png" alt="prod")
    ul.use__list.recipe__list
      li.use__item.recipe__item.inuse
        .inuse__bullet
          span.use__num.text-bold 1.
        .inuse__box
          p.inuse__text.text-bold Небольшое количество крем-воска наносить на&nbsp;очищенные пораженные&nbsp;участки
      li.use__item.recipe__item.inuse
        .inuse__bullet
          span.use__num.text-bold 2.
        .inuse__box
          p.inuse__text.text-bold Использовать 1-2 раза в&nbsp;день
      li.use__item.recipe__item.inuse
        .inuse__bullet
          span.use__num.text-bold 3.
        .inuse__box
          p.inuse__text.text-bold Курс — от 30&nbsp;дней
