.warn.block.bg-grey
  .container
    h2.title.warn__title Предупредите рак — устраните кожные&nbsp;инфекции!
    h2.title.warn__title--bottom В этом вам поможет Papilloderm
    h3.warn__subtitle Активные компоненты в составе избавляют от кожных образований и&nbsp;предотвращают раковые опухоли
    .warn__content 
      ul.warn__list
        li.warn__item.usual
          .usual__box
            h4.usual__title.text-bold ПАПИЛЛОМА
            p.usual__text Новообразования на коже, которые сопровождаются зудом и жжением. Требуют обязательной терапии, так как могут перерасти в рак.
          .usual__bullet
            picture
              source(srcset="img/warn1.webp" type="image/webp")
              img(src="img/warn1.png" alt="prod")
        li.warn__item.usual
          .usual__box
            h4.usual__title.text-bold МОЗОЛЬ
            p.usual__text Твердые участки загрубевшей кожи, которые появляются в результате трения или давления.
          .usual__bullet
            picture
              source(srcset="img/warn2.webp" type="image/webp")
              img(src="img/warn2.png" alt="prod")
        li.warn__item.usual
          .usual__box
            h4.usual__title.text-bold БОРОДАВКА
            p.usual__text Ороговевший участок кожи в форме горошины, который часто исчезает сам по себе. В целом, не несут серьезной угрозы здоровью.
          .usual__bullet
            picture
              source(srcset="img/warn3.webp" type="image/webp")
              img(src="img/warn3.png" alt="prod")
        li.warn__item.usual
          .usual__box
            h4.usual__title.text-bold ШИПИЦА
            p.usual__text Вид бородавок, которые появляются на подошве, пальцах ног и ладонях. Сигнал — снижение иммунитета.
          .usual__bullet
            picture
              source(srcset="img/warn4.webp" type="image/webp")
              img(src="img/warn4.png" alt="prod")
      .product-wrap.animation-pack.warn__prod
        picture
          source(srcset="img/prod180.webp" type="image/webp")
          img.warn__prod--mob(src="img/prod180.png" alt="prod")
        picture
          source(srcset="img/prod-single.webp" type="image/webp")
          img.warn__prod--desk(src="img/prod-single.png" alt="prod")
        .medal.warn__medal.animation-medal
          picture
          source(srcset="img/icon-choice.webp" type="image/webp")
          img(src="img/icon-choice.png" alt="prod")
