body {
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.1;
  color: #444444;
}

html {
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

picture {
  flex-shrink: 0;
}

svg {
  overflow: hidden;
}

button {
  display: block;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;

  @include rm(480) {
    width: 480px;
  }

  @include rm(640) {
    width: 640px;
  }

  @include rm(768) {
    width: 768px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @include rm(1024) {
    width: 1024px;
  }

  @include rm(1220) {
    width: 1220px;
  }
}

.title {
  margin-bottom: 20px;
  font-size: 28px;
  color: rgb(32, 32, 32);
  font-weight: bold;
  line-height: 1.1;
  text-align: center;

  @include rm(480) {
    font-size: 30px;
  }

  @include rm(640) {
    font-size: 34px;
  }

  @include rm(768) {
    font-size: 40px;
  }

  @include rm(1024) {
    margin-bottom: 30px;
    font-size: 46px;
  }

  @include rm(1220) {
    font-size: 50px;
  }
}

.text-bold {
  font-weight: 700;
}

.text-black {
  font-weight: 900;
}

.text-nowrap {
  white-space: nowrap;
}

.text-accent {
  color: $main-orange;
}

.text-red {
  color: $main-red;
}

.no-webp .bg {
  background-color: #fbfef1;
  background-image: none;

  @include rm(480) {
    background-image: url(../img/background.png);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.webp .bg {
  background-color: #fbfef1;
  background-image: none;

  @include rm(480) {
    background-color: #fbfef1;
    background-image: url(../img/background.webp);
    background-position: 50% 0;
    background-repeat: repeat-y;
    background-size: cover;
  }
}

.no-webp .bg-grey {
  background-color: #fff;
  background-image: none;

  @include rm(480) {
    background-color: transparent;
    background-image: url(../img/bg-grey.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.webp .bg-grey {
  background-color: #fff;
  background-image: none;

  @include rm(480) {
    background-color: transparent;
    background-image: url(../img/bg-grey.webp);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

br {
  line-height: 1;
  font-size: 0;
}

.btn {
  width: 100%;
  padding: 20px 30px;
  background: linear-gradient(to right, #fb6920 0, #ff2e51 49%, #ea4949 50%, #ea4949 100%);
  background-size: 200% 100%;
  background-position: 100% 100%;
  border-radius: 100px;
  color: #ffffff;
  cursor: pointer;
  line-height: 1;
  transition: .3s;

  &:hover {
    box-shadow: 0 2px 5px #fb6920;
    background-position: 0 0;
  }
}

.btn__small {
  width: 200px;
  padding: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  color: white;
  background: $main-red;
  border-radius: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
